body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f3eefe;
}

h1 {
  color: #a31383;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #5413f2;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.btn-primary {
  color: #fff;
  background: #5413f2;
  border-color: #5413f2 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #5413f2;
  background-color: #fff;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  max-width: 650px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 5px 25px 1px rgba(0, 0, 0, 0.2);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #5413f2;
  display: inline;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #5413f2;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #8f66f7;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature-max {
}

.bottom-code {
  text-align: center;
}
